.DS_Store
.atom/
.vscode/
.dart_tool/
.idea
.packages
.pub/
packages
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
pubspec.lock
.vscode
example/flutter_weather_demo/pubspec.lock
/*.code-workspace
example/android.iml
