name: super_tooltip
description: Super flexible Tooltip class that gets opend in the screens overlay
version: 2.1.0
homepage: https://github.com/bensonarafat/super_tooltip


environment:
  sdk: ^3.8.0
  flutter: ">=3.32.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter